/* CSS for Gmail Checker popup.html */

html, body {
    padding: 0;
    margin: 0;
    margin-left: 2px;
    margin-right: 1px;
    background-color: white;
}

body {
    font-family: arial,sans-serif;
    padding: 0;
    padding-top: 0px !important;
}

div#menu {
    position: absolute;
    top: -28px;
    right: 100px;
    float: right;
    padding-top: 10px;
    padding-right: 3px;
    padding-left: 5px;
    padding-bottom: 5px;
    background: white url(img/dropdownarrow.png) no-repeat bottom center;
    border: 1px solid #6d93b8;
    -webkit-border-radius: 5px; 
    -webkit-transition: all 0.2s linear;
    z-index:99;
}

div#menu:hover {
    top: -10px;
    padding-bottom: 0px;
    background: white none;
}

div#menu a.squareLink {
    margin-top: 1px;
    margin-right: 5px;
    display: block;
    float: left;
    width: 16px;
    height: 16px;
}

div#menu a#options {
    background: transparent url("img/wrench.png") center center;
}

div#menu a#options:hover {
    background: transparent url("img/wrench_hover.png") center center;
}

div#menu a#refresh {
    background: transparent url("img/refresh.png") center center;
}

div#menu a#refresh:hover {
    background: transparent url("img/refresh_hover.png") center center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.mailBox {
    float: left;
    clear: both;
    width: 99%;
    margin-top: 5px; 
    margin-bottom: 5px;  
    padding-top: 3px;    
    border: 1px solid #6d93b8;
    background-color: #fff;
    -webkit-border-radius: 5px;  
    /*background: transparent url("img/mailbox_bg.png") no-repeat bottom left; */
}

div.inboxLink {
    float: left;
    clear: left;
    font-size: 10pt;
    padding-bottom: 3px;
	width: 98%;
    /*background: transparent url("img/inbox_bg.png") repeat-x top left;*/

}

div.inboxLink span {
    display: inline-block;
    float: left;
    margin-top: 2px;
    margin-left: 2px;
}

div.inboxLink a {
    margin-left: 5px;
    color: black;
    font-weight: bold;
}

a.inboxLink, a.composeLink, a.star-link, a.sendPageLink {
    display: inline-block;
    float: right;
	width: 16px;
	height: 16px;
	/*background: transparent url("img/compose.png") center center;*/
}
a.star-link {
	float: left;
}

a.inboxLink img, a.composeLink img, a.sendPageLink img {
	display: none;
}

a.inboxLink {
	background: transparent url("img/inbox.png") center center;
}

a.inboxLink:hover {
	background: transparent url("img/inbox_hover.png") center center;
}

a.composeLink {
	background: transparent url("img/compose.png") center center;
}

a.composeLink:hover {
	background: transparent url("img/compose_hover.png") center center;
}

a.sendPageLink {
	background: transparent url("img/send_page.png") center center;
}

a.sendPageLink:hover {
	background: transparent url("img/send_page_hover.png") center center;
}

a.star-link {
    background: transparent url("img/star.png") center center;
}

a.star-link:hover {
    background: transparent url("img/star_hover.png") center center;
}

.mailEntry {
    float: left;
    clear: both;
    background-color: transparent;
    font-size: 8pt;  
    width: 100%;
    position: relative;
}

.mailHeader {
    float: left;
    background: #7799bb url("img/header_bg.png") repeat-x top left;
    color: white;
    width: 100%;
    height: 19px;
    padding-top: 0px;
}

img {
    vertical-align:bottom;    
}

.mailContainer {
    float: left;
    /*border-left: 3px solid #5983ae;
    border-right: 3px solid #5983ae;*/
    padding-top: 0;
    padding-bottom: 0;  
    width: 100%;    
}

.mailBody {
    float: left;
    clear: both;
    width: 100%;
}

.authorName {
    float: left;
    font-weight: bold;
    margin: 2px;
    margin-left: 4px;
}

.issued {
    float: right;
    font-weight: bold;
    margin: 2px;
    margin-right: 5px;
}

.actions {
    float: right;
    margin: 0;
}

.actions a {
    color: white;
}

.actions a:hover {
}

.actions .delete, .actions .archive, .actions .read, .actions .spam {
    float: left;
    height: 100%;
    padding: 2px 4px 2px 4px;
}

/*.actions .delete:hover, .actions .archive:hover, .actions .read:hover, .actions .spam:hover {
    border: 1px solid #939393;
    background: #a31e17 url("img/button_bg_hover.png") repeat-x top left;
}*/

.actions .archive {
    font-weight: bold;   
}


div.title {
    clear:both;
    float: left;;
    font-weight: bold;
    margin: 0;
    width: 99%;
    font-weight: bold;
}

.title span {
    margin: 2px;
    float: left;
}

.title a {
    color: black;
}

.title-link {
    display: inline-block;
    float: left;
    margin-top: 1px;
}

a.more-link, a.less-link, a.reply-link {
    display: block;
    width: 16px;
    height: 16px;
}

a.more-link {
    background: transparent url("img/more.png") center center;
}

a.more-link:hover {
    background: transparent url("img/more_hover.png") center center;
}

a.less-link {
    background: transparent url("img/less.png") center center;
}

a.less-link:hover {
    background: transparent url("img/less_hover.png") center center;
}

a.reply-link {
    background: transparent url("img/reply.png") center center;
}

a.reply-link:hover {
    background: transparent url("img/reply_hover.png") center center;
}

.summary {
    float: left;
    clear: both;
    color: #000;
    border-top: 1px dashed #93afcb;
    margin-bottom: 2px;
    width: 100%;
    max-height: 150px;
    overflow: auto;
    font-size: 12px;
    background-color: #ffffff;
}

/*.summary:hover {    
    background-color: #fafafa;
}*/

.summary div {
    margin: 3px 3px 0 3px;
}

.mailReply {
    float: left;
    clear: both;
    margin: 0 auto;
    text-align: center;
    padding: 7px;
    width: 450px;
}

.mailReply textarea {
    width: 100%;
}

.tooltip {
    cursor: help;
}

.lowerright {
    float: right !important;
    margin: 2px;
}

.hidden {
    display: none;
}

img.sup {
    vertical-align:super;  	
}

.nohover:hover {
    text-decoration: none;
}