::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
    padding-left: 2px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    height: 0px;
    display: block;
    background-color: transparent;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
    -webkit-border-radius: 4px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #7799bb;
    -webkit-border-radius: 4px;
}

::-webkit-scrollbar-thumb:horizontal {
    visibility: hidden;
}